:root {
	--bg-white: white;
	--bg-gray: #f0f1f6;
	--bg-black: #232027;
	--primary: #26c8bc;
	--secondary: #426270;
	--tertiary: #4b406b;
	--text: #444444;
	--text-light: #999999;
}

#inputs,
#cards_heading,
#cards_container {
	background: var(--bg-gray);
}

#cards_heading {
	text-align: center;
}

#cards_heading p {
	max-width: 450px;
	margin: auto;
	line-height: 2;
}

#cards_heading h2 {
	font-size: 40px;
	margin-bottom: 20px;
}
.card_container {
	display: flex;
	justify-content: space-between;
	padding: 100px;
	max-width: 1440px;
	margin: auto;
}

.container {
	max-width: 1440px;
	margin: auto;
	padding: 0 120px;
}

.flex_5050 {
	display: flex;
	justify-content: space-between;
}

p {
	color: var(--text-light);
}

@media only screen and (max-width: 900px) {
	.container {
		padding: 25px;
		text-align: center;
		align-items: center;
	}
	.flex_5050 {
		flex-direction: column-reverse;
	}
	h1 {
		font-size: 40px;
	}
	.card_container {
		flex-direction: column;
		align-items: center;
	}
}
