:root {
	--bg-white: white;
	--bg-gray: #f0f1f6;
	--bg-black: #232027;
	--primary: #26c8bc;
	--secondary: #426270;
	--tertiary: #4b406b;
	--text: #444444;
	--text-light: #999999;
}

#inputs,
#cards {
	background: var(--bg-gray);
}

.container {
	max-width: 1440px;
	margin: auto;
	padding: 0 120px;
}

.flex_5050 {
	display: flex;
	justify-content: space-between;
}

p {
	color: var(--text-light);
}

@media only screen and (max-width: 900px) {
	.container {
		padding: 25px;
		text-align: center;
		align-items: center;
	}
	.flex_5050 {
		flex-direction: column-reverse;
	}
	h1 {
		font-size: 40px;
	}
}
